extends ../layout

block content
    include header
    .container-fluid
        .row
            .col-sm-3.col-md-2.sidebar
                include sidebar
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                h1.page-header Manage Roles
                .btn-group
                    button.btn.btn-default(disabled=perms["Add Role"] ? false : true, data-toggle='modal', data-target='#add-role') Add Role
                .table-responsive
                    table.table.table-striped
                        thead
                            tr
                                th #
                                th Name
                                th Description
                                th Actions
                        tbody#roleListBody
                            // roleList
                .table-responsive(style="overflow: scroll")
                    table.table.table-striped
                        thead
                            tr#rolePermissionsHead
                        tbody#rolePermissionsBody
                            // roleList
    #add-role.modal.fade.out(tabindex='-1', data-focus-on='input:first', data-width='760')
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3 Add Role
        .modal-body
            form.form-horizontal(role='form')
                .form-group
                    label.col-sm-2.control-label(for='input-role-parent') Parent
                    .col-sm-10
                        select#input-role-parent.select2.form-control(name='parent', type='text', data-tabindex='1')
                            option(value=0) Root
                            each item, index in roleList
                                option(value=item.ID)= item.NAME
                    label.col-sm-2.control-label(for='input-role-name') Name
                    .col-sm-10
                        input#input-role-name.form-control(name='name', type='text', data-tabindex='2')
                    label.col-sm-2.control-label(for='input-role-description') Description
                    .col-sm-10
                        textarea#input-role-description.form-control(name='description', data-tabindex='3', rows=5, style='resize: none')
                    label.col-sm-2.control-label(for='input-role-deletable') Deletable
                    .col-sm-10
                        label.checkbox
                            input#input-role-deletable(name='deletable', data-tabindex='4', type='checkbox', checked)
        .modal-footer
            button#add-role-close-btn.btn(type='button', data-dismiss='modal') Close
            button#add-role-ok-btn.btn.btn-primary(type='button', data-dismiss='modal') Ok
    #edit-role.modal.fade.out(tabindex='-1', data-focus-on='textarea:first', data-width='760')
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3 Modify Role
        .modal-body
            form.form-horizontal(role='form')
                .form-group
                    label.col-sm-2.control-label(for='input-role-name') Name
                    .col-sm-10
                        input#input-role-id(type='hidden')
                        input#input-role-name.form-control(name='name', type='text', disabled)
                    label.col-sm-2.control-label(for='input-role-description') Description
                    .col-sm-10
                        textarea#input-role-description.form-control(name='description', data-tabindex='1', rows=5, style='resize: none')
                    label.col-sm-2.control-label(for='input-role-deletable') Deletable
                    .col-sm-10
                        label.checkbox
                            input#input-role-deletable(name='deletable', data-tabindex='2', type='checkbox', disabled)
        .modal-footer
            button#edit-role-close-btn.btn(type='button', data-dismiss='modal') Close
            button#edit-role-ok-btn.btn.btn-primary(type='button', data-dismiss='modal') Ok
    #del-role.modal.fade.out(tabindex='-1', data-focus-on='textarea:first', data-width='760')
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3 Delete Role
        .modal-body
            p.alert.alert-warning.bg-warning
                strong Are you sure to delete this role?
            form.form-horizontal(role='form')
                .form-group
                    label.col-sm-2.control-label(for='input-role-name') Name
                    .col-sm-10
                        input#input-role-id(type='hidden')
                        input#input-role-name.form-control(name='name', type='text', disabled)
                    label.col-sm-2.control-label(for='input-role-description') Description
                    .col-sm-10
                        textarea#input-role-description.form-control(name='description', data-tabindex='1', rows=5, style='resize: none', disabled)
                    label.col-sm-2.control-label(for='input-role-deletable') Deletable
                    .col-sm-10
                        label.checkbox
                            input#input-role-deletable(name='deletable', data-tabindex='2', type='checkbox', disabled)
        .modal-footer
            button#del-role-close-btn.btn(type='button', data-dismiss='modal') Close
            button#del-role-ok-btn.btn.btn-primary(type='button', data-dismiss='modal') Ok
    script(type='text/javascript').
        window['__elsaa_user_perms'] = !{JSON.stringify(perms)};
        window['__elsaa_user_roleList'] = !{JSON.stringify(roleList)};
        $('.select2').select2();
    script(type='text/javascript', src='/javascripts/' + page + '.js')
